:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale: hsl(225, 100%, 98%);
  --dark-blue: hsl(223, 47%, 23%)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  background-color: var(--pale-blue);
}

.background {
  background: url('./images/pattern-background-mobile.svg') no-repeat center/cover;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.container {
  background-color: white;
  margin: 1.25rem;
  padding: 1.25rem;
  border-radius: 5px;
  box-shadow: 3px 3px 3px hsl(228, 45%, 44%, 0.15);
}

button {
  font-family: 'Red Hat Display', sans-serif;
}

footer { 
  font-size: 11px; 
  text-align: center; 
}

footer a { 
  color: hsl(228, 45%, 44%); 
}

@media (min-width: 768px) {
  .background {
    background: url('./images/pattern-background-desktop.svg') no-repeat center/cover;
    height: 50vh;
  }
}