:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale: hsl(225, 100%, 98%);
  --dark-blue: hsl(223, 47%, 23%);
  --p-color: hsl(224, 23%, 55%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--p-color);
  overflow-wrap: break-word;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  background-color: var(--pale-blue);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 1px);
}

.background {
  background: url('./images/pattern-background-mobile.svg') no-repeat center/cover;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.container {
  background-color: white;
  margin: 1.25rem;
  padding-bottom: 1.25rem;
  border-radius: 10px;
  box-shadow: 3px 3px 3px hsl(228, 45%, 44%, 0.15);
  overflow: hidden;
}

.container img.girl {
  width: 100%;
}

.container .plan {
  margin: 1.875rem auto;
  padding: 0.625rem;
  background-color: var(--very-pale);
  width: 90%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .plan article {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .plan article img {
  margin-right: 0.625rem;
}

.container .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  color: var(--dark-blue);
  margin: 1.25rem 0;
  font-weight: 900;
}

.btn {
  border: none;
  padding: 0.313rem 0.625rem;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.change {
  background-color: transparent;
  color: var(--bright-blue);
  text-decoration: underline;
}

.change:hover {
  text-decoration: none;
  opacity: 0.7;
}

.payment {
  background-color: var(--bright-blue);
  color: white;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
}

.payment:hover {
  opacity: 0.7;
}

.cancel {
  background-color: transparent;
  color: var(--p-color);
}

.cancel:hover {
  color: var(--dark-blue);
}

button {
  font-family: 'Red Hat Display', sans-serif;
}

footer { 
  font-size: 11px; 
  text-align: center; 
}

footer a { 
  color: hsl(228, 45%, 44%); 
}

@media (min-width: 768px) {
  .background {
    background: url('./images/pattern-background-desktop.svg') no-repeat center/cover;
    height: 60vh;
  }

  .container {
    max-width: 500px;
  }

  .payment {
    width: 400px;
  }

  .description {
    padding: 0 1.875rem;
  }
  
}